mixin footer (max, TextToxin, NAVIGATION, AboutUs, News, Support, Products, ABOUTUS, WhoWeAre, OutTeam, Careers, Investors, SUPPORT, Documentation, Community, GetInTouch, NEWSLETTER, Promotions, Copyright)
    if (max)
        .containerFooter
            .rowFooter
                .columnFooter
                    include ../toxin/toxin
                    +toxin()
                    p.bodyText=TextToxin
                .columnFooter
                    ul
                        li.text.text_type_h3=NAVIGATION
                        li.bodyText.text_height_17=AboutUs
                        li.bodyText.text_height_17=News
                        li.bodyText.text_height_17=Support
                        li.bodyText.text_height_17=Products
                .columnFooter
                    ul
                        li.text.text_type_h3=ABOUTUS
                        li.bodyText.text_height_17=WhoWeAre
                        li.bodyText.text_height_17=OutTeam
                        li.bodyText.text_height_17=Careers
                        li.bodyText.text_height_17=Investors
                .columnFooter
                    ul
                        li.text.text_type_h3=SUPPORT
                        li.bodyText.text_height_17=Documentation
                        li.bodyText.text_height_17=Community
                        li.bodyText.text_height_17=GetInTouch
                .columnFooter.text.text_type_h3=NEWSLETTER
                    p.bodyText=Promotions
                        include ../../elements/subscription-text-field/subscription-text-field
                        +subscription('email', 'Your email address')
        .rowFooter_style_line    
            .rowFooter
                p.bodyText(id='Copyright')=Copyright
                .containrImgFooter
                    include ../contacts/contacts
                    +contacts()
    else
        .containerFooter_center
            .columnFooter_center
                include ../toxin/toxin
                +toxin('containerToxin_position_center')
                p.bodyText  Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
                .containrImgFooter
                    include ../contacts/contacts
                    +contacts('containerContacts')


    
     
