mixin room (img, number, luxury, rub, review)
    .cards.cards_size_mini.cardsShadow
        img.imgRoom(src=img)
        .imgContainer
            .arrowContainer
                i.fa.fa-chevron-left(aria-hidden="true")
                i.fa.fa-chevron-right(aria-hidden="true")
            .circleContainer
                i.fa.fa-circle(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
        .cardsContentRoom
            .roomRow
                .roomRow
                    .blockroomRow
                        h1.text.text_type_h3 №
                        h1.text.text_type_h2=number
                        h2.text.text_type_h3.text_color_purple=luxury
                .roomRow
                    .blockroomRow
                        h3.bodyText.text_height_18.text_color_50.text_weight_bold=rub
                        h3.bodyText.text_height_18.text_color_50 в сутки
            .roomRow
                .roomStarContainer
                    include ../../elements/rate-button/rate-button
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    if luxury 
                        +rateButton('fa-star')
                    else
                        +rateButton('fa-star-o')
                .roomReview
                    h3.bodyText.text_height_18.text_color_50.text_weight_bold=review
                    h3.bodyText.text_height_18.text_color_50 Отзывов