mixin room (img, number, luxury, rub, review)
    .cards.cards_size_mini
        img.imgRoom(src=img)
        .imgContainer
            .arrowContainer
                i.fa.fa-chevron-left(aria-hidden="true")
                i.fa.fa-chevron-right(aria-hidden="true")
            .circleContainer
                i.fa.fa-circle(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
                i.fa.fa-circle-o(aria-hidden="true")
        .cardsContentRoom
            .roomRow
                .roomRow.roomRow_indentation_upMini
                    h1.text.roomNumberTextNumber.down №
                    h1.text.roomNumberText=number
                    h2.text.text_type_h3.text_color_purple.down=luxury
                .roomRow.roomDown
                    h3.text.text_type_h3.textsize_14.text_color_50=rub
                    h3.text.text_type_h3.text_size_14.text_color_50.text_weight_normal в сутки
            .roomRow
                .roomStarContainer
                    include ../rate-button/rate-button
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    +rateButton('fa-star')
                    if luxury 
                        +rateButton('fa-star')
                    else
                        +rateButton('fa-star-o')
                .roomRow
                    h3.text.text_type_h3.text_size_14.text_color_50=review
                    h3.text.text_type_h3.text_size_14.text_color_50.text_weight_normal Отзывов