mixin header(buttons, oneLi, twoLi, threeLi, fourLi, fifeLi, sixLi, buttonOneName, buttonTwoName, buttonStyleOne, buttonStyleTwo, widthNav, widthButtonContainer)
    .containerHeader
        include ../toxin/toxin
        +toxin()
        .containerNav(class=widthNav)
            nav 
                ul
                    li.bodyText.text_height_17.text_weight_bold=oneLi
                    li.bodyText.text_height_17=twoLi
                        if (twoLi==="Услуги")
                            i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
                    li.bodyText.text_height_17=threeLi
                        if(threeLi !=="Вакансии") 
                            i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
                    li.bodyText.text_height_17=fourLi
                    li.bodyText.text_height_17=fifeLi
                        if(fifeLi ==="Соглашения") 
                            i.fa.fa-angle-down.fa-lg.text_color_50(aria-hidden="true")
                    if(sixLi)
                        li.bodyText.text_height_17=sixLi
            if (!buttons)
                p.bodyText.text_height_17 Cosmin Negoita
            if (buttons)
                .buttonsContainer(class=widthButtonContainer)
                    include ../../elements/buttons/buttons
                    +button(buttonOneName,'button_border_withBorder', 'button_size_mini', buttonStyleOne, "location.href='sign-in.html'")
                    +button(buttonTwoName, 'button_color_gradient', 'button_size_mini', buttonStyleTwo, "location.href='registration.html'")
    