mixin header(buttons, oneLi, twoLi, threeLi, fourLi, fifeLi, sixLi, buttonOne, buttonTwo, buttonSize)
    .containerHeader
        include ../toxin/toxin
        +toxin()
        .containerNav
            nav 
                ul
                    li.heading.heading_type_h3.heading_size_14x17=oneLi
                    li.heading.heading_type_h3.heading_color_50.heading_size_14x17=twoLi
                    li.heading.heading_type_h3.heading_color_50.heading_size_14x17=threeLi
                        i.fa.fa-angle-down.heading.heading_type_h1.heading_color_50(aria-hidden="true")
                    li.heading.heading_type_h3.heading_color_50.heading_size_14x17=fourLi
                    li.heading.heading_type_h3.heading_color_50.heading_size_14x17=fifeLi
                    li.heading.heading_type_h3.heading_color_50.heading_size_14x17=sixLi
            if (!buttons)
                p.heading.heading_type_h3.heading_color_50.heading_size_14x17 Cosmin Negoita
            if (buttons)
                .buttonsContainer
                    include ../buttons/buttons
                    +button(buttonOne, 'register', 'button_border_withBorder', 'button_size_mini', 'button_height_mini')
                    +button(buttonTwo, 'login', 'button_color_gradient', buttonSize)
    